* {
	margin: 9px;
	padding: 0px;
}
body {
	font-size: 180%;
	background: #CC6653;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: #363838;
	background: #0FD3E8;
	text-align: center;
	border: 3px solid rgb(15, 11, 11);
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 3px solid #0F0F0D;
	background: #0FD3E8;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #B60407;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: #5B060F;
	background: #9DA5AD;
	border: none;
	border-radius: 5px;
}
.error {
	width: 50%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 3px solid #A94142; 
	color: #a94442; 
	background: #F05407; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #C5AA97; 
	background: #8A3F01; 
	border: 3px solid #1A0E08;
	margin-bottom: 10px;
}
